* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(to right,#e4fbff, #b8b5ff, #7868e6, #edeef7);
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: center;
  width: 100vw;
  height: 100vh;
}


@media only screen and (max-width: 770px) {
  .App {
    flex-direction: row; 
  }
}


